<% provide(:title, 'All users') %>
<h1>All users</h1>

<%# will_paginate %>
<!-- 今はwill_paginateではなくkaminariではなくを使う -->
<%= page_entries_info @users %>

<%= paginate @users %>
<ul class="users">
    <%= render @users %>
</ul>

<%= paginate @users %>
<%# will_paginate %>
